{% extends 'base.html' %}

{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'style/enrollment.css' %}">{% endblock link %}
{% block title %}Enroll a new student{% endblock title %}

{% block content %}
    <form class="form" method="post">
      {% csrf_token %}
      <h2>Enroll a new student</h2>
      {% for field in form %}
      <p>
        {% if field.name == 'date_of_birth' %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="date" id="{{ field.id_for_label }}" name="{{ field.html_name }}" maxlength="35">
        {% else %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        {% endif %}
     </p>
     {% endfor %}
      <button type="submit">Submit</button>
    </form>
{% endblock content %}